* {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 990px;    
    align-items: center;        
}

.menu {
    display: flex;    
}

nav ul,
    li {     
    list-style: none;    
    padding: 0px;
    margin: 0;
}

nav ul {
    display: flex;
    
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
    a:hover {
    background-color: #08a3de;
    color: white;
}

#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    color: white;
}

.column {
    flex-direction: column;
}

#banner_titulo {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;            
}

#banner_titulo h1 {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    width: 400px;
}

#banner_titulo h2 {
    font-size: 21px;
    margin: 0px;
    padding: 0px;
    width: 400px;
    margin-top: 30px;
}

#banner_opcoes {
    display: flex;
    height: 210px;
}

#banner1, 
#banner2, 
#banner3 {
    flex: 1;
    padding: 20px;
}

#banner1 {
    background-color: #03a2dfff;
}

#banner2 {
    background-color: #026fc7ff;
}

#banner3 {
    background-color: #024292ff;
}

#banner_opcoes h1 {
    font-size: 21px;
}

#banner_opcoes h2 {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#banner_opcoes a {
        display: inline-block;
        border: 1px solid white;
        padding: 5px;
        color: white;
        text-decoration: none;
}

